*{
	box-sizing: border-box;
}

html{
   font-size: 12px;
}

body{
   margin: 0 auto;
   font-family: "Helevetica Neue", 'Helvetica', sans-serif;
}
ul {
	padding: 0;
}
li{
	list-style-type: none;
   display:inline-block;
}
span {
	color: blue;
}

#content-container{
   max-width: 960px;
   margin: 0 auto;
}

.MFAH-header{
	background-color: rgb(44,44,44);
}
.MFAH-header > * {
	height: 60px;
}
.scratch-code {
   background-color:rgb(245,245,245);
	padding:4px;
}
.scratch-code li {
	Padding-left:3px;
	padding-right:3px;
 }
 .beige{
 	background: #FDF8DC;
	color: blue;
	padding: 3px;
 }
 .blueButton{
	 background: #D9EDF7;
	 color: grey;
	 padding: 3px;
 }
/*footer*/
.extra-caret{
   color: #D35400;
   font-size: 16px;
}
.footer{
   font-size: 0;
	background-color: rgb(245,245,245);
	height: 30px;
}

.footer > *{
   font-size: 9px;
   display: inline-block;
   vertical-align: middle;;
	width: 25%;
text-align: center;
}
/*.bottom{
	text-align: center;
}*/
.bottom p {
	font-size: 9px;
}
/* site contents*/
.content-container {
	font-size: 0;
	width:960px;

}
.content-container .left{
	font-size: medium;
   display: inline-block;
   vertical-align: top;
	width:75%;

}
.content-container .right{
	font-size: medium;
   display: inline-block;
   vertical-align: top;
	width:25%;
	/*margin-top: 42px;*/
}
.content-holder{
	font-size: 0;
}
.content-holder > *{
	font-size: medium;
	display: inline-block;
   vertical-align: top;
	width:50%;
}
/* fixing stuff */
.bobsCorner{
	margin-left: 10px;
}
.links{
	margin-top: 30px;
}
.bio{
	margin-top: -20px;
}
.marginRight{
	margin-right: 10px;
}
.shrink-it{
	max-width: 360px;
}
.text-align-right{
	text-align: right;
	color: blue;
}
.lotsOwords{
	background: rgb(44,44,44);
	color: #FFF;

}
.takeAwayMargin{
	margin: 0 auto;
	padding-left: 20px;
	font-weight: 100;
	padding-bottom: 5px;
}
/* end of fixing*/
.upcoming{
	font-size: 0;
}
.upcoming strong {
	color: grey;
}
.upcoming .pic{
	font-size: medium;
	display: inline-block;
   vertical-align: top;
	width:40%;
}
.upcoming .words{
	font-size: 10px;
	display: inline-block;
   vertical-align: top;
	width:60%;
}
